.pile-component{
  .pile__empty {
    position: relative;
    width: $card-width;
    height: $card-height;
    background-position: $default-background-position;
    float: left;
  }

  .pile__drag-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $zindex-popover;
    opacity: $modal-backdrop-opacity;
    background-color: $yellow;
  }
  
  &.pile-layout__fannedright {
    margin: 0 5px;
    .klondike-card-component {
      float: left; 
      margin-left: -$fan-width;
    }
  }
  
  &.pile-layout__fanneddown {
    float: left;
    padding-top: $fan-height;
    .klondike-card-component {
      margin-top: -$fan-height;
    }
  }
  
  &.pile-layout__squared {
    position: relative;
    width: $card-width;
    height: $card-height;
    .klondike-card-component {
      position: absolute;
    }
  }
}