.stock-component {
  width: $stock-width;
  margin: 10px 15px 0 20px;
  float: left;

  .stock__trigger {
    width: $card-width;
    height: $card-height;
    cursor: pointer;
    float: left;
  }

  .pile-component {
    float: left;
    margin-left:75px;    
  }
}