.tableau-component {
  padding: 20px 10px 0;
  clear: both;

  .tableau__column{
    position: relative;
    width: $card-width;
    height: $card-height;
    border: 1px solid $btn-secondary-border;
    border-radius: 5px;
    margin: $margin-between-cards;
    background-position: $default-background-position;
    float: left;
  }
}