.Pile-layout__Squared {
  position: relative;
  width: 80px;
  height: 112px;
}
.Pile-layout__Squared .CardDisplay {
  position: absolute;
}

.Pile-layout__FannedRight {
  display: flex;
}
.Pile-layout__FannedRight .CardDisplay {
  margin-left: -70px;
}

.Pile-layout__FannedDown {
  display: flex;
  flex-direction: column;
}
.Pile-layout__FannedDown .CardDisplay {
  margin-top: -90px;
}
