.Pile-layout__Squared {
  width: 80px;
  height: 112px;
}
.Pile-layout__Squared .CardHolder {
  position: absolute;
}

.Pile-layout__FannedRight {
  display: flex;
  padding-left: 70px;
}
.Pile-layout__FannedRight .CardHolder {
  margin-left: -70px;
}

.Pile-layout__FannedDown {
  display: flex;
  flex-direction: column;
}
.Pile-layout__FannedDown .CardHolder {
  margin-top: -90px;
}
